.tutor{
  // height: 100vh;
  // width: 100%;
  background: var(--color-secondary) no-repeat center fixed;
  // background-size: cover;
  // vertical-align: middle;
  // display:flex;
  // flex-flow: column nowrap;
}
  
.tutor-container{
  margin: 0 8rem;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  //align-items: middle;//center;
  //text-align: center;
  & > *{
    //width: 50%;
    &:not(:last-child){
      //padding-right: 4rem;
    }
  }
}

.tutor-container-phrases{
  margin: auto 0;
}

.tutor-options{
  height: 100vh;
  width: 100%;
  background: var(--color-white) no-repeat center fixed;
  background-size: cover;
  vertical-align: middle;
  display: flex;
  flex-flow: column nowrap;
}
  
.tutor-options-container{
  height: 100vh;
  margin: auto 8rem;
  //display: flex;
  
  display: grid;
  //grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fit,minmax(10rem, 1fr));
  grid-column-gap: 8rem;
  //grid-auto-rows: minmax(100px, auto);

  //justify-content: space-between;
  //flex-flow: row nowrap;
  //align-items: flexleft//center;
  //text-align: center;
  &--1{
    flex-flow: column nowrap;
    justify-content: initial;
  }

  & > *{
    //width: 50%;
    &:not(:last-child){
      //padding-right: 4rem;
    }
  }

  &__item{
    //width: 50%;
    margin: auto 2rem;
  }
  .vertical-center{
    margin: auto 8rem;
  }
}

.tutor-confirm-container{
  padding: 0 20rem;
  display: flex;
  flex-flow: column nowrap;
  height: 120vh; //calc(100vh - 7.9rem);
  width: 100%;
  background: url('../assets/images/background/landing-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &-phrases{
    margin: auto 0;
    .heading-secondary{
      &--center{
        color: var(--color-white);
        margin: 0 10rem;
        padding-bottom: 6rem;
      }
      &--sub{
        font-size: 6rem;
        padding-top: 6rem;
        margin-left: 5rem;
        color: var(--color-primary);
      }
    }
    hr{
      border-color: var(--color-primary);
    }
  }
  &-footer{
    // width: 100%;
    // position: absolute;
    // right: 0;
    // bottom: 0;
    // padding: 0 25rem 5vh;
    padding-bottom: 5rem;
    flex-flow: column nowrap;
    &-right{
      text-align: right;
  }
    &-left{
      text-align: left;
    }
  }

}
