.ant-drawer-content{
    background-color: whitesmoke;
}
.ant-drawer-body{
    padding: 0;
    .drawer{
        margin-bottom: 5rem;
        &__head{
            img{
                width: 100%;
                height: auto;
            }
        }
        &__content{
            padding: 2rem;
            ul{
                list-style-type: none;
            }
            a{
                color: black;
            }
        }
        &__footer{
            text-align: center;
            align-items: center;
            margin: 0 auto;
        }
    }
}