#portal__main {
    margin-left: 3rem;
    transition: margin-left .5s;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
}

.portal__content {
    padding-top: 4rem;
    overflow: scroll;
}