.tutor-nav {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom:  var(--line-2);
  padding: 3rem 0;
  background: white;
  z-index: 25;
  // align-items: center;
  //  /* alineacion horizontal */
  // justify-content: center;
  
/*	background: #333;
	color: white;
	height: 80px;
	*/
	//width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed;

  &__part{
    margin:0 4rem;
    display: flex;
    align-items: center;
    //justify-content: space-between;
  
    &__item{
      &:link,
      &:visited{
        //margin:0 2rem;
        //list-style: none;
        font-size: 2rem;
        //text-transform: uppercase;
      
        //color:var(--color-white);
        text-decoration: none;
      }
      display: inline-block;
      //box-sizing: border-box;
      //margin-right:4rem;
      //font-weight: 700;
      height: 100%;
      //color:var(--color-white);

      &:hover{
        cursor:pointer;
      }
      &:not(:last-child){
        margin-right:4rem;
      }

      &--1{
        color:var(--color-grey-dark-1);
        font-weight: 300;

        //border-right: 5px solid red;

        // &::after {
        //   content: "|";
        //   margin: 0 1rem;
        //   opacity: .4;
        // }
   
        // &:last-of-type::after {
        //   content: "";    /* el último no incluye separador */
        // }
      }

      &--2{
        color:var(--color-grey-dark-1);
        font-weight: 700;
        text-transform: uppercase;

        // &::after {
        //   content: "|";
        //   margin: 0 1rem;
        //   opacity: .4;
        // }
   
        // &:last-of-type::after {
        //   content: "";    /* el último no incluye separador */
        // }
      }
      //cursor: pointer;
 
    }
  }
}